[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = thud
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = https://github.com/agherzan/meta-raspberrypi.git
	branch = thud
